body {
    background-image: url("https://nkozak2006.github.io/melanie_martinez/backgrounds/homebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#cover {
    position: absolute;
    width: 55vh;
    height: 51vh;
    transform: translateY(-50%) scale(1);
    top: 50%;
    background-image: url("https://nkozak2006.github.io/melanie_martinez/images/tvimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 15%;
    transition: 1s ease-out;
    box-shadow: 10px 10px rgb(0, 0, 0), -10px -10px rgb(143, 0, 0);
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

#cover:hover {
    transform: translateY(-50%) scale(1.25);
}

/* BREAK */

#cont {
    position: absolute;
    width: 55vh;
    height: 51vh;
    transform: translateY(-50%) scale(1);
    top: 50%;
    right: 15%;
    background: black;
    transition: 1s ease-out;
    box-shadow: 10px 10px rgb(0, 0, 0), -10px -10px rgb(143, 0, 0);
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

#cont:hover {
    transform: translateY(-50%) scale(1.25);
}

/* BREAK */

#lyr {
    width: 100%;
    height: 90%;
    position: relative;
    top: 0%;
    background: rgb(79, 0, 0);
    display: block;
}

h1 {
    font-family: inherit;
    padding: 0;
    margin: 0;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

pre {
    font-family: inherit;
    font-size: 16px;
    margin: 0;
    position: absolute;
    width: 50%;
    text-align: center;
    line-height: 8px;
}

#left {
    left: 25%;
    top: 4%;
    transform: translateX(-50%);
}

#right {
    right: 25%;
    top: 10%;
    transform: translateX(50%);
}

/* BREAK */

#cont_bg {
    width: 100%;
    height: 90%;
    position: relative;
    top: 0%;
    background: rgb(79, 0, 0);
    display: none;
}

/* BREAK */

#mus {
    width: 100%;
    height: 90%;
    position: relative;
    top: 0%;
    background: rgb(79, 0, 0);
    display: none;
}

#mus h1 {
    font-size: 35px;
    padding-top: 50px;
}

audio {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* BREAK */

#cont_bar {
    position: relative;
    width: 100%;
    height: 10%;
    top: 0;
    background: white;
}

#cont_bar div {
    display: inline-block;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

#list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(255,255,255,0);
    font-family: inherit;
}

.list_cont {
    padding: 0;
    margin: 0;
    display: inline;
    float: left;
    font-family: inherit;
    font-size: 20px;
    padding: 0;
    display: block;
    text-decoration: none;
    color: black;
    width: 100px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    font-family: inherit;
}

.list_cont button {
    border: none;
    background: none;
    width: 100%;
    height: 41px;
    font-family: inherit;
    color: black;
    font-size: 20px;
}

.list_cont button:hover {
    cursor: pointer;
}

#lyr_but {
    background: rgb(79, 0, 0);
}

#bg_but {
    background: none;
}

#mus_but {
    background: none;
}

/* BREAK */

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}