body {
    margin: 0;
    font-family: "Nanum Brush Script";
}

#bar {
    display: inline-block;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.2);
    font-family: inherit;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(255,255,255,0);
    font-family: inherit;
}

.box {
    padding: 0;
    margin: 0;
    display: inline;
    float: left;
    font-family: inherit;
}

#home {
    font-size: 28px;
    padding: 0;
    display: block;
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255,255,255,0);
    font-family: inherit;
}

#home:hover {
    background: rgba(0, 0, 0, 0.4);
}

#tv {
    font-size: 18px;
    padding: 0;
    display: block;
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255,255,255,0);
    font-family: inherit;
}

.tv:hover,
.tv:focus,
.tv:focus-within {
    background: url("https://nkozak2006.github.io/melanie_martinez/images/tvimg.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: white;
}

.container {
    position: absolute;
    min-width:150px;
    width: 150px;
    text-align: center;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    z-index: 1;
    background: rgba(255,255,255,0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container a {
    display: block;
    width: 100%;
    height: 100%;
}

.container a:hover {
    background: rgba(255,255,255,0.5);
}

.dropdown_content {
    list-style: none;
    padding: 0;
    line-height: 30px;
}

.dropdown:hover .container,
.dropdown:focus .container,
.dropdown:focus-within .container {
    max-height: 680px;
    transition: max-height 0.5s ease-in;
}

.content {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#cb {
    font-size: 25px;
    padding: 0;
    display: block;
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255,255,255,0);
    font-family: inherit;
}

.cb:hover,
.cb:focus,
.cb:focus-within {
    background: url("https://nkozak2006.github.io/melanie_martinez/images/cbimg.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: white;
}

#k-12 {
    font-size: 29px;
    padding: 0;
    display: block;
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255,255,255,0);
    font-family: inherit;
}

.k-12:hover,
.k-12:focus,
.k-12:focus-within {
    background: url("https://nkozak2006.github.io/melanie_martinez/images/k-12img.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: white;
}

#portals {
    font-size: 25px;
    padding: 0;
    display: block;
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255,255,255,0);
    font-family: inherit;
}

.portals:hover,
.portals:focus,
.portals:focus-within {
    background: url("https://nkozak2006.github.io/melanie_martinez/images/portalsimg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

#singles {
    font-size: 25px;
    padding: 0;
    display: block;
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255,255,255,0);
    font-family: inherit;
}

.singles:hover,
.singles:focus,
.singles:focus-within {
    background: rgba(0, 0, 0, 0.4);
}

#mel {
    float: right;
    padding: 0;
    display: block;
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255,255,255,0);
    font-family: inherit;
}

#mel:hover {
    background: rgba(0, 0, 0, 0.4);
}

#auth {
    float: right;
    padding: 0;
    display: block;
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255,255,255,0);
    font-family: inherit;
}

#auth:hover {
    background: rgba(0, 0, 0, 0.4);
}