body {
    background: #62889a;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* /// [Cover] */

#cover {
    position: absolute;
    width: 55vh;
    height: 51vh;
    transform: translateY(-50%) scale(1);
    top: 50%;
    background-image: url("https://nkozak2006.github.io/melanie_martinez/images/k-12img.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 15%;
    transition: 1s ease-out;
    box-shadow: 10px 10px #626176, -10px -10px #cccccc;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

#cover:hover {
    transform: translateY(-50%) scale(1.25);
}

/* /// [Content] */

#cont {
    position: absolute;
    width: 55vh;
    height: 51vh;
    transform: translateY(-50%) scale(1);
    top: 50%;
    right: 15%;
    background: #f1f1f1;
    color: #364b55;
    transition: 1s ease-out;
    box-shadow: 10px 10px #626176, -10px -10px #cccccc;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
    text-align: center;
}

h1 {
    font-size: 50px;
    padding: 20px 0 10px 0;
    margin: 0;
}

p1 {
    margin: 0;
    padding-top: 0;
    font-size: 24px;
}

#cont:hover {
    transform: translateY(-50%) scale(1.25);
}

/* /// [Animation] */

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}