body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: Corinthia;
}

li {
    display: inline;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0 0 0 0;
}

a {
    display: block;
    color: black;
    padding: 10px 0 10px 0;
    margin: 0 0 0 0;
    width: 125px;
    transition: width 0.5s;
    text-decoration: none;
}

a:hover {
    width: 200px;
    background: rgba(0, 0, 0, 0.3);
}

ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.navbar {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 30px;
    overflow: hidden;
    background-image: linear-gradient(to right, #078D70, #078D70, #078D70, #26CEAA, #98E8C1, #FFFFFF, #7BADE2, #5049CC, #3D1A78, #3D1A78, #3D1A78, #078D70, #078D70, #078D70, #078D70);
    background-size: 500% 500%;
    animation: gradient 4s linear infinite normal;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.5);
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
}