body {
    margin: 0;
    padding: 0;
    background: black;
    transition: all 3s;
    overflow: hidden;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 200%;
    z-index: 1;
    transform-origin: 0% 0%;
}

img {
    transition: opacity 2s;
    opacity: 0;
    height: 100vh;
}

iframe {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@keyframes sway {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes shake {
    0% {
        transform: rotate(2deg) translateX(-50%) translateY(-50%);
    }
    10% {
        transform: rotate(-2deg) translateX(-50%) translateY(-50%);
    }
    20% {
        transform: rotate(2deg) translateX(-50%) translateY(-50%);
    }
    30% {
        transform: rotate(-2deg) translateX(-50%) translateY(-50%);
    }
    40% {
        transform: rotate(2deg) translateX(-50%) translateY(-50%);
    }
    50% {
        transform: rotate(-2deg) translateX(-50%) translateY(-50%);
    }
    60% {
        transform: rotate(2deg) translateX(-50%) translateY(-50%);
    }
    70% {
        transform: rotate(-2deg) translateX(-50%) translateY(-50%);
    }
    80% {
        transform: rotate(2deg) translateX(-50%) translateY(-50%);
    }
    90% {
        transform: rotate(-2deg) translateX(-50%) translateY(-50%);
    }
    100% {
        transform: rotate(2deg) translateX(-50%) translateY(-50%);
    }
    
}