body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background: black;
}

#container {
    background: white;
    width: 75vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 0;
    margin: 0;  
}

h1 {
    text-align: center;
}

td {
    padding: 25px;
    background: black;
    color: white;
    font-size: 30px;
    border-radius: 30px;
}

table {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

button {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%) translateY(-50%);
    background: black;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
}

#cont {
    display: none;
    visibility: hidden;
    margin: 0;
    width: 75vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: white;
    color: black;
}

#res {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
