body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: rgba(0, 0, 0, 0);
}

#quote-box {
    width: 60vw;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}