body {
    font-family: Lobster;
    background: linear-gradient(-45deg, #8026ff, #af26ff, #db26ff, #f126ff);
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
    height: 35vh;
    color: pink;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.welcome {
    text-align: center;
}

form {
    position: absolute;
    top: 200px;
}

form input {
    width: 200px;
    height: 80px;
    font-size: 40px;
    font-family: Lobster;
    border-radius: 40px;
    float: left;
}

input:hover {
    cursor: pointer;
}

td {
    padding-bottom: 10px;
}

.purple {
    color: pink;
    border-color: pink;
    border-style: solid;
    background: linear-gradient(-45deg, #f126ff, #db26ff, #af26ff, #8026ff);
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
}

.red {
    color: yellow;
    border-color: yellow;
    border-style: solid;
    background: linear-gradient(-45deg, #eb4634, #eb3434, #eb344c, #eb3461);
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
}

.green {
    color: white;
    border-color: white;
    border-style: solid;
    background: linear-gradient(-45deg, #2cff03, #21bf02, #178c00, #126601);
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
}

.blue {
    color: #bdfcc4;
    border-color: #bdfcc4;
    border-style: solid;
    background: linear-gradient(-45deg, #0099ff, #00aeff, #00cbff, #70e2ff);
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
}

.colors {
    background: none;
    border-radius: 20px;
    border-width: 10px 10px 10px 10px;
    border-color: pink;
    font-family: Lobster;
    font-size: 50px;
    color: pink;
    margin-left: 465px;
    margin-top: 100px;
    resize: none;
    width: 550px;
    height: 140px;
    text-align: center;
}

.imagebutton {
    margin-left: 700px;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-family: Lobster;
    border-radius: 15px;
    color: pink;
    border-color: pink;
    border-style: solid;
    background: linear-gradient(-45deg, #f126ff, #db26ff, #af26ff, #8026ff);
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
}

img {
    margin-left: 591px;
    margin-top: 0px;
}

.clicktxt {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}